<form (ngSubmit)="onSubmit()">
  <div>
    <label>Wat is de naam van jullie team?</label>
    <input required [(ngModel)]="model.name" name="name">
  </div>
  <div>
    <label>In welke regio spelen jullie?</label>
    <location-autocomplete [(ngModel)]="model.location" name="location"></location-autocomplete>
    {{model.location}}
  </div>
  <div>
    <label>In welk klasse spelen jullie?</label>
    <input required [(ngModel)]="model.leagueLevel" name="leagueLevel">
  </div>

  <button type="submit">Team aanmaken</button>
</form>